:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --gr1:#f72585,#b5179e,#7209b7,#560bad,#480ca8,#3a0ca3,#3f37c9,#4361ee,#4895ef,#4cc9f0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  color:white;
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,4,47,1) 35%, rgba(0,72,87,1) 100%);
}
body {
  background-attachment:fixed;
  background-size: 100%;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3696%26quot%3b)' fill='none'%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round' stroke='url(%23SvgjsLinearGradient3697)'%3e%3cpath d='M419.5 496.205 L419.5 530.7049999999999' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M419.5 556.5799999999999 L419.5 583.795' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M442.5 335.645 L442.5 508.145' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M442.5 534.02 L442.5 654.77' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M442.5 680.645 L442.5 744.355' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M465.5 510.075 L465.5 569.925' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M488.5 384.555 L488.5 695.445' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M511.5 479.295 L511.5 531.0450000000001' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M511.5 556.9200000000001 L511.5 600.705' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M534.5 510.335 L534.5 569.665' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M557.5 355.755 L557.5 724.255' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M580.5 348.955 L580.5 383.455' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M580.5 409.33 L580.5 616.3299999999999' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M580.5 642.2049999999999 L580.5 731.045' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M603.5 272.675 L603.5 565.925' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M603.5 591.8 L603.5 660.8' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M603.5 686.675 L603.5 807.325' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M626.5 305.015 L626.5 774.985' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M649.5 386.135 L649.5 610.385' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M649.5 636.26 L649.5 693.865' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M672.5 395.425 L672.5 550.675' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M672.5 576.55 L672.5 611.05' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M672.5 636.925 L672.5 684.575' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M695.5 397.225 L695.5 569.725' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M695.5 595.6 L695.5 682.775' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M718.5 505.465 L718.5 522.7149999999999' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M718.5 548.5899999999999 L718.5 574.535' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M741.5 300.195 L741.5 779.805' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M764.5 420.895 L764.5 541.645' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M764.5 567.52 L764.5 584.77' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M764.5 610.645 L764.5 659.105' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M787.5 298.375 L787.5 781.625' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M810.5 320.685 L810.5 544.935' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M810.5 570.81 L810.5 639.81' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M810.5 665.685 L810.5 759.305' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M833.5 269.135 L833.5 810.865' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M856.5 497.865 L856.5 515.115' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M856.5 540.99 L856.5 582.135' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M879.5 390.365 L879.5 459.365' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M879.5 485.24 L879.5 571.49' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M879.5 597.365 L879.5 689.635' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M902.5 305.205 L902.5 460.455' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M902.5 486.33 L902.5 774.795' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M925.5 287.225 L925.5 792.775' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M948.5 336.985 L948.5 743.015' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M971.5 409.565 L971.5 426.815' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M971.5 452.69 L971.5 556.19' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M971.5 582.065 L971.5 670.435' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M994.5 408.635 L994.5 477.635' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M994.5 503.51 L994.5 589.76' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M994.5 615.635 L994.5 671.365' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1017.5 338.245 L1017.5 476.245' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1017.5 502.12 L1017.5 622.87' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1017.5 648.745 L1017.5 741.755' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1040.5 241.565 L1040.5 838.435' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1063.5 513.125 L1063.5 566.875' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1086.5 309.005 L1086.5 585.005' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1086.5 610.88 L1086.5 645.38' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1086.5 671.255 L1086.5 771.005' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1109.5 310.385 L1109.5 362.135' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1109.5 388.01 L1109.5 646.76' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1109.5 672.635 L1109.5 769.615' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1132.5 263.66499999999996 L1132.5 712.165' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1132.5 738.04 L1132.5 816.335' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1155.5 361.125 L1155.5 718.875' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1178.5 510.685 L1178.5 569.325' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1201.5 509.515 L1201.5 570.485' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1224.5 345.655 L1224.5 569.905' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1224.5 595.78 L1224.5 647.53' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1224.5 673.405 L1224.5 734.345' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1247.5 278.445 L1247.5 726.9449999999999' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1247.5 752.8199999999999 L1247.5 801.555' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1270.5 429.535 L1270.5 533.0350000000001' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1270.5 558.9100000000001 L1270.5 593.4100000000001' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1270.5 619.2850000000001 L1270.5 650.465' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1293.5 360.635 L1293.5 515.885' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1293.5 541.76 L1293.5 593.51' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1293.5 619.385 L1293.5 719.365' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1316.5 356.565 L1316.5 408.315' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1316.5 434.19 L1316.5 723.435' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1339.5 345.895 L1339.5 414.895' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1339.5 440.77 L1339.5 527.02' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1339.5 552.895 L1339.5 734.105' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1362.5 293.015 L1362.5 517.265' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1362.5 543.14 L1362.5 698.39' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1362.5 724.265 L1362.5 786.985' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1385.5 503.095 L1385.5 576.905' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1408.5 297.755 L1408.5 782.255' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1431.5 313.685 L1431.5 606.935' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1431.5 632.81 L1431.5 719.06' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1431.5 744.935 L1431.5 766.315' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1454.5 378.945 L1454.5 482.445' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1454.5 508.32 L1454.5 611.8199999999999' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1454.5 637.6949999999999 L1454.5 701.055' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1477.5 403.255 L1477.5 593.005' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1477.5 618.88 L1477.5 676.755' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1500.5 357.795 L1500.5 616.5450000000001' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M1500.5 642.4200000000001 L1500.5 722.205' stroke-width='17.25'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3696'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='403.20000000000005' y1='540' x2='1516.8' y2='540' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3697'%3e%3cstop stop-color='rgba(58%2c 124%2c 195%2c 0.31)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(184%2c 17%2c 203%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.bgbl {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
}
.navbar a {
  text-decoration: none;
}
.navbar {
  display: flex;
  width: 100%;
  background-color: #3f37c9;
  align-items: center;
  font-size: 20px;
}

.listhd {
  float: left;
  width: 400px;
  border-image: linear-gradient(
    to bottom,var(--gr1)
  );
  border-width: 5px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  border-image-slice: 1;
  margin-top: 20px;
  margin-left: 30px;
  height: 50vh;
}
.listhd h1 {
  padding: 7px 10px;
}
.contentbox {
  display: grid;
  height: 100vh;
}
p {
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}
.home-intro {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 500px 0;
  justify-content: center;
}
.home-arrow {
  position: relative;
  bottom: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.grey {
  color: grey;
  padding-left: 1.2vw;
}
.pages {
  margin: 30px;
  padding: 20px 10px;
  border-image: linear-gradient(
    to right,
    #f72585,
    #b5179e,
    #7209b7,
    #560bad,
    #480ca8,
    #3a0ca3,
    #3f37c9,
    #4361ee,
    #4895ef,
    #4cc9f0
  );
  border-width: 5px;
  border-top: 0;
  border-right: 0;
  border-style: solid;
  border-image-slice: 1;
}
.links {
  color: #4361ee;
}
.links:hover {
  color: #3a0ca3;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  display: block;
  padding: 2vw;
  background-image: linear-gradient(
    to right,
    rgba(86, 11, 173, 0.5),
    rgba(72, 12, 168, 0.5),
    rgba(58, 12, 163, 0.5),
    rgba(63, 55, 201, 0.5)
  );
  text-decoration: none;
}
.listlinks {
  display: block;
  padding: 0.5vw 0.7vw;
  background-color: rgba(58, 12, 163, 0.3);
  margin-bottom: 4px;
  font-size: 18px;
}
.listlinks:hover {
  background-color: rgba(58, 12, 163, 0.6);
}
.footerGradient {
  border-image: linear-gradient(
    to right,
    black,
    #edf2fb,
    #ccdbfd,
    #c1d3fe,
    #abc4ff,
    black
  );
  border-width: 2px;
  border-style: solid;
  border-bottom: 0;
  border-image-slice: 1;
}
.nav-section {
  width: 130px;
  height: 80px;
  color: #fff;
  border-radius: 5px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-align: center;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background-color: #3f37c9;
  line-height: 42px;
  border: none;
  letter-spacing: 2px;
}
.nav-section span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.nav-section:before,
.nav-section:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: white;
  transition: all 0.3s ease;
}
.navtxt {
  padding: 15px;
}
.icon {
  padding: 20px;
  float: left;
}
.nav-section:before {
  height: 0%;
  width: 2px;
}
.nav-section:after {
  width: 0%;
  height: 2px;
}
.nav-section:hover:before {
  height: 100%;
}
.nav-section:hover:after {
  width: 100%;
}
.nav-section:hover {
  background: transparent;
}
.nav-section span:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-section span:before,
.nav-section span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(184, 17, 203, 1);
  transition: all 0.3s ease;
}
.nav-section span:before {
  width: 2px;
  height: 0%;
}
.nav-section span:after {
  height: 2px;
  width: 0%;
}
.nav-section span:hover:before {
  height: 100%;
}
.nav-section span:hover:after {
  width: 100%;
}
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }
  body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1080' height='1920' preserveAspectRatio='none' viewBox='0 0 1080 1920'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3722%26quot%3b)' fill='none'%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round' stroke='url(%23SvgjsLinearGradient3723)'%3e%3cpath d='M241 878.535 L241 895.785' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M241 921.66 L241 973.41' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M241 999.285 L241 1041.465' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M264 573.135 L264 1346.865' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M287 863.705 L287 932.705' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M287 958.58 L287 993.08' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M287 1018.955 L287 1056.295' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M310 800.375 L310 852.125' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M310 878 L310 1050.5' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M310 1076.375 L310 1119.635' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M333 540.255 L333 678.255' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M333 704.13 L333 1379.745' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M356 860.555 L356 895.055' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M356 920.93 L356 989.93' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M356 1015.805 L356 1059.445' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M379 737.005 L379 788.755' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M379 814.63 L379 1038.88' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M379 1064.755 L379 1183.005' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M402 705.985 L402 1154.4850000000001' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M402 1180.3600000000001 L402 1214.015' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M425 850.735 L425 902.485' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M425 928.36 L425 1069.265' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M448 799.555 L448 920.305' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M448 946.18 L448 997.93' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M448 1023.805 L448 1120.445' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M471 760.625 L471 1159.365' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M494 507.475 L494 1318.225' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M494 1344.1 L494 1361.35' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M494 1387.225 L494 1412.525' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M517 435.415 L517 659.665' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M517 685.54 L517 840.79' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M517 866.665 L517 1484.585' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M540 787.855 L540 960.355' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M540 986.23 L540 1132.145' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M563 565.105 L563 806.605' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M563 832.48 L563 1160.23' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M563 1186.105 L563 1354.905' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M586 879.685 L586 1040.315' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M609 448.835 L609 793.835' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M609 819.71 L609 992.21' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M609 1018.085 L609 1471.175' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M632 635.245 L632 686.995' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M632 712.87 L632 1284.755' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M655 868.835 L655 937.835' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M655 963.71 L655 1051.175' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M678 829.815 L678 916.065' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M678 941.94 L678 976.44' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M678 1002.315 L678 1090.185' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M701 474.565 L701 905.815' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M701 931.69 L701 948.94' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M701 974.815 L701 1445.435' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M724 577.535 L724 646.535' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M724 672.41 L724 1069.1599999999999' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M724 1095.0349999999999 L724 1342.465' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M747 544.805 L747 1183.0549999999998' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M747 1208.9299999999998 L747 1260.6799999999998' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M747 1286.5549999999998 L747 1375.195' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M770 461.935 L770 1134.685' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M770 1160.56 L770 1384.81' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M770 1410.685 L770 1458.065' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M793 801.135 L793 852.885' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M793 878.76 L793 947.76' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M793 973.635 L793 1118.865' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M816 846.355 L816 967.105' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M816 992.98 L816 1010.23' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M816 1036.105 L816 1073.645' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M839 517.475 L839 1293.725' stroke-width='17.25'%3e%3c/path%3e%3cpath d='M839 1319.6 L839 1402.525' stroke-width='17.25'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3722'%3e%3crect width='1080' height='1920' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='226.8' y1='960' x2='853.2' y2='960' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3723'%3e%3cstop stop-color='rgba(58%2c 124%2c 195%2c 0.31)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(184%2c 17%2c 203%2c 1)' offset='0.94'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
background-size: 120%;
background-position:center;
} 
    .nav-section {
    width: 100%;
  }
  .icon {
    padding: 20px;
    float: none;
  }
}
.home-section-2 {
  margin: 25px;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  position: relative;
  left: 0;
  background-color: rgba(7, 10, 27, 0.8);
}
.home-section-3 {
  margin: 25px;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  position: relative;
  right: 0;
  left: calc(60% - 45px);
  background-color: rgba(5, 45, 32, 0.7);
}
.home-section-1 {
  margin: 25px;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(46, 16, 59, 0.7);
  font-size: 30px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.header span{
  font-family: "Lato", sans-serif;
  letter-spacing: 0.7em;
  text-align: center;
  font-size: 3vw;
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.main-paragraph {
  margin: 30px;
  padding: 30px;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  border-image: linear-gradient(
    to bottom,
    #f72585,
    #b5179e,
    #7209b7,
    #560bad,
    #480ca8,
    #3a0ca3,
    #3f37c9,
    #4361ee,
    #4895ef,
    #4cc9f0
  );
  border-width: 5px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  border-image-slice: 1;
}
.home-gap {
  border-image: linear-gradient(
    to right,
    rgba(67, 97, 238, 0.1),
    #edf2fb,
    #ccdbfd,
    #c1d3fe,
    #abc4ff,
    rgba(67, 97, 238, 0.1)
  );
  border-width: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin: 20px;
  border-style: solid;
  border-image-slice: 1;
}
.home-header {
  text-align: center;
  color: #b5179e;
  letter-spacing: 4px;
}
@keyframes loading {
  to {
    text-shadow: 10px 0 70px #b5179e;
    color: #b5179e;
  }
}
span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
span:nth-child(21) {
  -webkit-animation-delay: 2s;
}
span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}
.introduce {
  letter-spacing: 0.7em;
  font-size: 3vw;
  text-align: center;
}
.i1:hover {
  text-shadow: 0 0 20px;
  color: #f72585;
  transition: all 0.2s ease;
}
.aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutUs {
  margin: 30px;
  background-color: #10032c;
  display: flex;
  width: 520px;
  height: 770px;
  z-index: 1;
  align-items: center;
  overflow: hidden;
  position: relative;
  justify-content: center;
  flex-direction: row;
}
#aboutUs::before {
  content: "";
  background-position: 50%;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    rgba(247, 37, 133, 0.5),
    #b5179e,
    #480ca8,
    rgba(0, 0, 0, 0),
    #3a0ca3,
    #4361ee,
    rgba(72, 149, 239, 0.5),
    rgba(0, 0, 0, 0)
  );
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 1000px;
  -webkit-animation: aboutAnime 5s linear infinite;
}
#aboutUs::after {
  content: "";
  height: 750px;
  width: 500px;
  background: black;
  position: absolute;
  z-index: 2;
}
.aPic {
  top: 10px;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
}
.ac {
  align-self: flex-end;
  width: 100%;
  text-align: center;
}
.a1Info {
  position: relative;
  display: block;
  z-index: 3;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0 0 10px #3f37c9;
}

.a1Info::first-letter {
  color: #3f37c9;
}
.ap {
  position: relative;
  z-index: 3;
  padding-top: 5px;
  font-size: 20px;
}
.al {
  position: relative;
  z-index: 3;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}
.ap1 {
  position: relative;
  z-index: 3;
  color: #3f37c9;
}
.aboutIntro {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  font-size: 7rem;
  width: 100%;
}
.i2 {
  animation: loading 2s ease-in-out infinite alternate;
}
.i2:hover {
  color: #10032c;
}
@keyframes aboutAnime {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}